[submodule "pt2019_30226_tusinean_andrei_assignment_1"]
	path = pt2019_30226_tusinean_andrei_assignment_1
	url = https://AndreiTusinean@bitbucket.org/AndreiTusinean/pt2019_30226_tusinean_andrei_assignment_1.git
[submodule "Java/pt2019_30226_tusinean_andrei_assignment_1"]
	path = Java/pt2019_30226_tusinean_andrei_assignment_1
	url = https://AndreiTusinean@bitbucket.org/AndreiTusinean/pt2019_30226_tusinean_andrei_assignment_1.git
[submodule "Java/pt2019_30226_tusinean_andrei_assignment_2"]
	path = Java/pt2019_30226_tusinean_andrei_assignment_2
	url = https://AndreiTusinean@bitbucket.org/AndreiTusinean/pt2019_30226_tusinean_andrei_assignment_2.git
[submodule "Java/pt2019_30226_tusinean_andrei_assignment_3"]
	path = Java/pt2019_30226_tusinean_andrei_assignment_3
	url = https://AndreiTusinean@bitbucket.org/AndreiTusinean/pt2019_30226_tusinean_andrei_assignment_3.git
[submodule "Java/pt2019_30226_tusinean_andrei_assignment_4"]
	path = Java/pt2019_30226_tusinean_andrei_assignment_4
	url = https://AndreiTusinean@bitbucket.org/AndreiTusinean/pt2019_30226_tusinean_andrei_assignment_4.git
[submodule "Java/pt2019_30226_tusinean_andrei_assignment_5"]
	path = Java/pt2019_30226_tusinean_andrei_assignment_5
	url = https://AndreiTusinean@bitbucket.org/AndreiTusinean/pt2019_30226_tusinean_andrei_assignment_5.git
